<launch>
	<arg name="relative_gps" default="true" />
	<node name="gps_conv" pkg="gps_common" type="utm_odometry_node" output="screen">
		<remap from="odom" to="/gps/odom"/>
		<remap from="fix" to="/gps/fix" />
		<param name="rot_covariance" value="1e+9" />
		<param name="frame_id" value="/odom" />
		<param name="child_frame_id" value="/base_footprint" />
	</node>
	<node name="gps_ekf" pkg="kut_ugv_localization" type="gps_ekf.py" output="screen">
		<param name="gps_odom_topic" value="/gps/odom" />
		<param name="vehicle_state_topic" value="/vehicle/state" />
		<param name="publish_rate" value="30" />
		<param name="frame_id" value="/odom" />
		<param name="child_frame_id" value="/base_footprint" />
		<param name="relative_gps" value="$(arg relative_gps)" />
		<param name="publish_odom_tf" value="true" />
	</node>
	<!--node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
		<remap from="odom" to="/vehicle/odom" />
		<remap from="gps" to="/gps_xy" />
		<param name="freq" value="30.0"/>
		<param name="sensor_timeout" value="1.0"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="false"/>
		<param name="vo_used" value="false"/>
		<param name="gps_used" value="true"/>
		<param name="debug" value="true"/>
		<param name="self_diagnose" value="true"/>
	</node>
	<node pkg="kut_ugv_localization" type="pose_with_covariance_to_odometry.sh" name="pose_to_odom_ekf" /-->
</launch>
