<launch>
	<!-- ### Visual odometry ### -->
	<node name="viso_node" pkg="viso2_ros" type="stereo_odometer" output="screen">
		<param name="publish_tf" value="true" />
		<param name="sensor_frame_id" value="stereo_cam" />
		<param name="base_link_frame_id" value="base_footprint" />
		<param name="approximate_sync" value="true" />
		<param name="queue_size" value="10" />
		<param name="match_disp_tolerance" value="2" />
		<remap from="stereo" to="stereo_cam" />
		<remap from="image" to="image_rect_color" />
	</node>
</launch>
