<launch>
	<arg name="world_object_topic" default="/world_object" />
	<arg name="verbose" default="true" />

	<node pkg="kut_ugv_sensor_fusion" type="pedestrian_detector_node" name="pedestrian_detector_node" output="screen" >

	<param name="output" type="string" value="$(arg world_object_topic)" />
	<param name="laser_topic" type="string" value="/bumper_laser/scan" />
	<param name="camera_topic" type="string" value="/mono_cam/image_rect_color" />
	<param name="calibration_url" type="string" value="$(find kut_ugv_sensor_fusion)/calib/calib.yaml" />
	<param name="svm_model_url" type="string" value="$(find kut_ugv_sensor_fusion)/calib/pedestrian_svm.yaml" />
	<param name="display" type="boolean" value="$(arg verbose)" />
	<param name="record" type="boolean" value="false" />
	</node>
</launch>
