<launch>
	<arg name="bag_name" /> 
	<node pkg="rosbag" type="record" name="rosbag" output="screen" required="true"
	args="-O $(find kut_ugv_data_logger)/bags/$(arg bag_name) -e
	/stereo_cam/left/camera_info
	/stereo_cam/left/image_raw/compressed(.*)
	/stereo_cam/right/camera_info
	/stereo_cam/right/image_raw/compressed(.*)
	/mono_cam/camera_info
	/mono_cam/image_raw/compressed(.*)
	/bumper_laser/scan
	/roof_laser/scan
	/gps/extended_fix
	/gps/fix
	/vehicle/state
	/vehicle/motion_command
	/vehicle/odom
	/tf" > 
	</node>
</launch>
